<header>
    <nav class="navbar-admin navbar-expand-lg">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-yellow" href="{{ path('home') }}"><h3>Home</h3></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-yellow" href="{{ path('desk') }}"><h3>Desk</h3></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-yellow" href="{{ path('profile') }}"><h3>Profile</h3></a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link text-yellow" href="{{ path('logout') }}"><h3>Logout</h3></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
