{% extends 'desk/base.html.twig' %}

{% block title %}Hello AccountantController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/guillaumehamet/Sites/BigBinioufous/src/Controller/AccountantController.php'|file_link(0) }}">src/Controller/AccountantController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/guillaumehamet/Sites/BigBinioufous/templates/accountant/index.html.twig'|file_link(0) }}">templates/accountant/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
