{% extends 'desk/base.html.twig' %}

{% block title %}Compta{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ app.user.fullName }}!</h1>

    Welcome to the acountant's page !!
    <ul>
        <li>OK, little work here before using it</li>
    </ul>
</div>
{% endblock %}
