<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Binioufous!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/2b91140bc3.js"></script>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    
    <body>

        {% include 'desk/partials/header.html.twig' %}

        {% for label, messages in app.flashes %}
            <div class="container">
                <div class="alert alert-{{ label }} mt-4">
                    {% for message in messages %}
                    <p>{{ message | raw }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        
        {% block body %}{% endblock %}
    </body>

</html>
