{% extends 'base.html.twig' %}

{% block title %}Join us !!{% endblock %}

{% block body %}

<a class="login text-yellow" href="#" role="button"><h1>Log in</h1></a>
<a class="join text-redwall" href="#" role="button"><h1>Join us</h1></a>


<form action="{{ path('join')}}" id="loginForm" class="d-none" method="post">
         {{ include ('join/login.html.twig') }}
</form>

<form id="joinForm" class="d-none" method="post">
        {{ include ('join/launch.html.twig') }}
</form>

<div class="loading" id="js-loader"><div class="loader"></div></div>
<div class="mascotte"><canvas id="c"></canvas></div>
{% endblock %}

{% block javascripts %}
        {{ encore_entry_script_tags('join') }}
{% endblock %}