{% extends 'popup.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %} 
    <div class="container">
    <h4>Go ahead and join us !!</h4>
        <div class="container">
            <a class="btn btn-alert" href="https://www.helloasso.com/associations/binioufous/adhesions/cotisations">
            !! Be Careful !! you're almost at a non-return point, which will cause to you fun with your music instrument and damages to your mental health
            </a>
        </div>
    </div>
{% endblock %}