{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

<div class="container">
    <div class="row ml-4 centered">
        <span class="badge badge-green mt-4">
            <h4>Go ahead and register !!</h4>
        </span>
        <div class="text-green text-center mt-4">
            <p class="text-red">The register have to be approuved by an administrator !!</p>
            <p>Please notice that you must pay a subscription, to become a real Binioufous or if you just want to use our folders to play music with separates voices</p>
        </div>
        <div class="row">
            <button class="btn badge-red mb-4">
                <a href="https://www.helloasso.com/associations/binioufous/adhesions/cotisations" class="link red-hover">PAY A SUBSCRIPTION FOR ONE YEAR</a>
            </button>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="nav-item" >
    <button class="submit btn btn-success">Join !!</button>
    </div>
    {{ form_end(form) }}

</div>

{% endblock %}